@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800;900&display=swap');

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --default-font-family: var(--font-jakarta);
}

body {
  font-family: var(--font-jakarta);
  background-color: #f9f9f9;
  color: #1a1a1a;
}