@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800;900&display=swap');

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-primary: #000000;
  --color-secondary: #FFFFFF;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    @apply font-sans text-black bg-white antialiased;
  }
}

@layer components {
  .container {
    @apply max-w-[1440px] mx-auto px-10;
  }
}

.shadow-premium {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.04);
}
